/* 共通要素 -----------------*/

/* フォント指定 */
body{
font-family: 'Mountains of Christmas', cursive;
font-family: 'Unlock', cursive;
font-family: 'Bungee', cursive;
font-family: 'Unlock', cursive;
    
    color: #555555;
    font-size: 16px;
    background: url(../img/34.png);
    background-size: 100px auto;
}
h1{
    margin-top: 24px;

    text-align: center;
}
 h1{

    margin-bottom: 2px;
    font-size: 40px;
    color: deeppink;
}

/* リンク */
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: deeppink;
    text-decoration: none;
}

/* header ---------------------- */



/* nav ------------------------ */
nav{
    text-align: center;
    margin-bottom: 35px;
}


nav {
    margin-top: 50px;
    color: black;
    font-size: 20px;
    
}

nav {
    text-decoration: none;
}
nav :hover{
    text-decoration: none;
}
nav ul{
    width: 500px;
    display: flex; /*子要素が横に並ぶ*/
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

/* main ------------------------- */
#gra h2{text-align: center;
    font-size: 30px;
    color: deeppink;

        margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Mountains of Christmas', cursive;
font-family: 'Unlock', cursive;
}


#gra p{
    text-align: center;
font-size: 15px;
    margin-top:  20px;
}

p{font-size: 10px;
        text-align: center;
    font-family: 'Unlock', cursive;
font-family: 'Bungee', cursive;
font-family: 'Kosugi Maru', sans-serif;
}



#gura-img{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    
}


#art p{
    margin-top: 60px;
text-align: center;
font-size: 20px;
    font-family: 'Mountains of Christmas', cursive;
font-family: 'Unlock', cursive;}





